@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin: 0;
}

.logo > a {
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
  color: #0E0578;
}

ul {
  display: flex;
  list-style-type: none;
  color: #686565;
  font: 30px/normal Poppins;
  gap: 78px
}

header {
    display: flex;
    justify-content: space-between;
    padding: 78px;
}

.about {
    display: flex;
    justify-content: space-between;
}

.pic > img {
  width: 564px;
  height: 564px;
  flex-shrink: 1;
  border-radius: 0px 0px 0px 191px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 36px -32px 0px 0px #8775F980;
  object-fit: cover;
}

.text {
  width: 620px;
}

.about h3 {
  color: #2000E7;
  font: 30px/normal Poppins;
  margin: 0;
}

.about h2 {
  color: #2000E7;
  font: bold 48px/normal Poppins;
  margin: 0;
}

.about span {
  color: #f2bd00;
}

section {
  margin: 78px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.buttonHireMe {
  width: 246px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #2000e7;;
  box-shadow: 11px 21px 15px 6px #00000040;

  color: #fff;
  font: 24px/normal Poppins;
}

.buttonMyProject {
  width: 246px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #2000E7;
  background: #2000E70A;
  box-shadow: 11px 21px 15px 6px #00000040;

  color: #2000E7;
  font: 24px/normal Poppins;
}

.about > .text > .aboutMe {
  margin-top: 240px;
}

.aboutMe {
  letter-spacing: 16.8px;
}

.textUnderAboutMe {
  width: 415px;
  height: 303px;
}

.oneButton {
  margin-left: 30px;
}

.pic2 > img {
  width: auto;
  height: 1000px;
}

.myProject {
  width: 100%;
  height: 100%;
  background: #FFD69633;
  margin: 301px 0 0 0;
}

.myProject > .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myProject > .text > h2 {
  color: #3B1FEA;
  font: bold 48px/normal Poppins;
  letter-spacing: 9.6px;
  margin: 40px 0 0 0;
}

.myProject > .text > p {
  color: #000;
  font: 24px/normal Poppins;
  margin: 0 0 40px 0;
}

.pics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 155px;
  padding-bottom: 50px
  
}

.pics img {
  width: 246px;
  border-radius: 6px;
}

.contactMe {
  width: 100%;
  height: 100%;
  background: #43BAFD0F;
  margin: 272px 0 208px 0;
  padding-bottom: 70px
}

.contactMe .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactMe .text > h2 {
  color: #220BE8;
  font: bold 64px/normal Poppins;
  letter-spacing: 17.28px;
  margin: 67px 0 0 0;
}

.contactMe .text > p {
  color: #000;
  font: 24px/normal Poppins;
  margin: 0;
}

.contactZone {
  display: flex;
  justify-content: space-between;
}

.inputZone {
  display: flex;
  flex-direction: column;
  margin-left: 66px
}

.email, .password, .message, .contactButton {
  width: 653px;
  height: 94px;
  background: #ffffff;
  box-shadow: 13px 21px 4px 0px #00000040;
  margin-bottom: 80px;

  color: #000;
  font: 32px/normal Poppins;
  line-height: 80px;
}

.email {
 margin-top: 170px;
}

.contactButton {
  width: 327px;
  margin-left: 160px;

  text-align: center;
  line-height: 80px;
}

.message {
  height: 265px;
  margin-bottom: 50px
}

.email > span, .password > span, .message > span {
  margin: 0 500px 0 50px
}

.contactPic > img {
  width: 958px;
  height: 958px;
}

footer {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  background: #FFD69633;
  padding-top: 80px;
}

.footInformation {
  display: flex;
  justify-content: space-around;
}

.firstFootPanel > h3 {
  color: #0E0578;
  font: bold 48px/normal Poppins;
  letter-spacing: 16.8px;
}

.footEmail {
  width: 300px;
  height: 92px;
  border-radius: 30px;
  background: #000;

  color: #FFF;
  font: bold 31px/normal Jost;
  line-height: 93px;
}

.spanEmail {
  margin: 0 400px 0 30px;
}

.spanSubscribe {
  border: 25px solid #F965FC;
  width: 178px;
  height: 97px;
  border-radius: 30px;
  background-color: #F965FC;

  color: #FFF;
  font: bold 31px/normal Jost;
  text-align: center;
  line-height: 93px;
  margin-left: -280px
}

.firstFootPanel, .secondFootPanel, .thirdFootPanel, .fourthFootPanel {
  display: flex;
  flex-direction: column;
}

.firstFootPanel {
  width: 400px
}

.firstFootPanel > h3 {
 margin-left: 25px;
}

.secondFootPanel, .thirdFootPanel, .fourthFootPanel {
  width: 246px;
  gap: 40px;
}

.secondFootPanel :first-child, .thirdFootPanel :first-child, .fourthFootPanel :first-child{
color: #000;
font: bold 31px/normal Jost;
}

.secondFootPanel :not(:first-child), .thirdFootPanel :not(:first-child), .fourthFootPanel :not(:first-child){
  color: #000;
  font: 31px/normal Jost;
}

hr {
  background: #000;
  height: 3px;
  width: 93%;
  margin-top: 100px;
}

.footFooter {
  display: flex;
  justify-content: space-between;
  margin: 80px 58px 0 46px;
}

.footPic {
  display: flex;
  gap: 86px
}

.copyRighted {
color: #000;
font: 32px/normal Jost;
}
